.search_box {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    width: 100%;
    margin-top: 40px;
    /* border: #000 2px solid; */
    /* background-color: green; */
}

.search_left .search_box {
    justify-content: left;
}

.search_centered .search_box {
    justify-content: center;
}

.search_centered {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.search_container {
    display: flex;
    align-items: center;
    background: white;
    border-radius: 15px; 
    padding: 10px 15px;
    width: 400px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25); /* Soft shadow */
    position: relative;
}

.search_icon {
    display: flex;
    font-size: 18px;
    color: gray;
    margin-right: 10px;
    align-self: center;
    justify-self: center;
}

.search_input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 16px;
    font-family: Helvetica;
    padding: 10px;
    border-radius: 5px;
    color: #333;
}

.search_button {
    background: black;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    transition: 0.3s;
}

.search_button:hover {
    background: #333; 
}

@media (max-width: 768px) {
    .search_left {
        align-items: start;
    }

    .search_box {
        justify-content: center;
        margin-top: 20px;
        margin-left: 5px;
    }

    .search_container {
        width: 90%; /* Make it take up most of the screen width */
        max-width: 350px; /* Prevent it from becoming too large */
        padding: 8px 12px;
        border-radius: 10px; /* Smaller border radius for compact look */
    }

    .search_icon {
        font-size: 16px;
        margin-right: 4px;
    }

    .search_input {
        font-size: 12px;
        padding: 8px;
    }

    .search_button {
        padding: 8px 10px;
        font-size: 10px;
        /* white-space: nowrap; */
        /* flex-shrink: 0; */
        position: relative;
        left: -4px;
    }
}