html, body {
  margin: 0;
  padding: 0;
  width: 100vw;  /* Full viewport width */
  height: 100vh; /* Full viewport height */
  overflow: hidden; /* Prevent scrollbars */
  box-sizing: border-box;
}

.base {
  width: 100vw;
  height: 100vh;
  display: flex; 
  flex-direction: column;
  justify-content: center; /* Centers content horizontally */
  align-items: center; /* Centers content vertically */
  background-color: #ccd5ae; /* Set background color */
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 75%;
  /* border: red solid; */
  text-align: center;
  /* color: red; */
}

.made_with_love {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
  margin-bottom: 15px;
  font-family: 'Gentium Book Plus', serif;
  font-weight: 500;
  line-height: normal;
}

.made_with_love em {
  color: #000;
  font-family: 'Gentium Book Plus', serif;
  font-style: italic;
  font-weight: 400;
  margin-left: 4px;
  margin-right: 4px;
}

@media screen and (max-width: 600px) {
  .content {
    width: 85%;
    padding: 10px;
  }

  .search_centered {
    flex-direction: column;
  }

  .card_parent {
    margin-top: 10px`;
  }
  .card {
    max-width: 90%;
  }

  .made_with_love {
    font-size: 12px;
    margin-bottom: 10px;
  }
}